
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<p>title: <%= title %></p>
    <a href="<%= auth_url %>">auth_url: </a>
    <p>mobile_url: <%= mobile_auth_url %></p>
    <p>token: <%= token %></p>
    <p>has_token: <%= has_token %></p>

</div>
</body>
</html>








