<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script type="text/javascript">
		
	</script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<h3>Welcome to walking to the moon! <%=user.facebook.name %></h3>

		<!-- MOVES INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3>MOVES</h3>

					<p>
						<a href="<%= auth_url %>">Authorize for Moves</a><br>
						<a href="<%= mobile_auth_url %>">Mobile Authorize for Moves</a><br>
						<p>Last update: <%=lastUpdatedDate %>, <%=lastUpdatedTime %> </p>
						<p>Your travelled distance : <%= distance%> km </p>
						<p>Your total steps : <%= steps%> steps</p>
						<p><a href="/startgame">Start a Game</a>  </p>
						</h3>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
